@media (min-width: 0) {
    .navbar {
        background-color: rgb(248, 215, 248);
        color: white;
        filter: drop-shadow(5px 5px 10px rgb(227, 11, 235));
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__form {
        display: flex;
        justify-content: space-between;
        height: 30px;
    }
    .navbar__link {
        text-decoration: none;
    }
    .navbar__btn {
        color: rgb(227, 11, 235);
        height: 30px ;
        display: flex;
        align-items: center;
    }
    .navbar__icon {
      font-size: 14px;
    }
}
/* tablet */
@media (min-width: 768px) {
   .navbar__form {
      width: 300px;
      height: 35px;
  }
  .navbar__btn {
      height: 35px;
  }
  .navbar__icon {
      font-size: 18px;
  }
}
/* destopk */
@media (min-width: 1024px) {
    .navbar__form {
        width: 350px;
        height: 45px;
    }
    .navbar__btn {
        height: 45px;
    }
    .navbar__icon {
        font-size: 20px;
    }
}
