.productInCart {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin: 10px;
     border:2px solid  rgb(227, 11, 235) ;
     border-radius: 5px;
 }
 .productInCart__containerImg {
      margin: 5px;
      width: 60px;
      height: 90px;
      border:2px solid  rgb(227, 11, 235) ;
      border-radius: 5px;
      overflow: hidden;
 }
 .productInCart__img {
      width: 60px;
      height: 90px;
      object-fit: cover;
 }
 .productInCart__containerQuantity, .productInCart__containerTotal {
      width: 120px;
      height: 90px;
      padding: 2px;
      border:2px solid  rgb(227, 11, 235) ;
      border-radius: 5px;
      color: rgb(227, 11, 235) ;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
 }
 .productInCart__containerTotal {
      width: 90px;
 }
 .productInCart__text {
      margin: 5px;
      text-align: center;
      font-size: 15px;
 }
 