/* version mobile */
@media (min-width:0) {
    .loginUser {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
    }
    .containerloginUser {
        width: 80%;
        margin: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        background: violet;
        border: 2px solid white;
        border-radius: 5px;
        filter: drop-shadow(5px 5px 10px rgb(227, 11, 235));
        box-shadow: 5px 5px 10px rgb(227, 11, 235);
        padding-top: 5px;
    }
    .loginUser__containerTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }
    .loginUser__title {
        color: white;
        font-size: 28px;
        font-weight: bolder;
    }
    .loginUser__underline {
        width: 61px;
        height: 6px;
        background: white;
        border-radius: 9px;
    }
    .loginUser__containerInputs {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .loginUser__containerInput {
        width: 80%;
        height: 30px;
        margin-top: 5px;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 6px;
    }
    .loginUser__input {
        background: transparent;
        border: none;
        outline: none;
        color: black;
        font-size: 12px;
    }
    .loginUser__iconInput {
        color: violet;
    }
    .loginUser__forgotPass {
        margin-top: 2px;
        padding-left: 25px;
        font-size: 10px;
        color: white;
    }
    .forgotPassLink {
        color: white;
        cursor: pointer;
    }
    .loginUser__text {
        margin: 5px;
        padding: 5px;
        color: white;
    }
    .loginUser__containerBtns {
        display: flex;
        margin: 30px auto;
    }
    .loginUser__button {
        display: flex;
        margin: 5px;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 40px;
        color: violet;
        background-color: white;
        font-weight: bolder;
        cursor: pointer;
        border: 1px solid violet;
        border-radius: 12px;
        outline: none;
        filter: drop-shadow(5px 5px 10px white);
        font-size: 12px;
    }
    .loginUser__link {
        text-decoration: none;
    }
}
/* version tablet */
@media (min-width: 768px) {
    .containerloginUser {
        width: 70%;
        margin: 20px;
        padding: 15px;
        padding-top: 10px;
    }
    .loginUser__containerTitle {
        margin-top: 15px;
    }
    .loginUser__title {
        font-size: 35px;
    }
    .loginUser__underline {
        width: 75px;
        height: 9px;
    }
    .loginUser__containerInputs {
        margin-top: 55px;
    }
    .loginUser__containerInput {
        width: 70%;
        height: 40px;
        margin-top: 10px;
    }
    .loginUser__input {
        font-size: 14px;
    }
    .loginUser__forgotPass {
        margin-top: 4px;
        font-size: 14px;
    }
    .loginUser__text {
        margin: 10px;
        padding: 5px;
        font-size: 18px;
    }
    .loginUser__containerBtns {
        margin: 40px auto;
    }
    .loginUser__button {
        margin: 5px;
        width: 100px;
        height: 45px;
        font-size: 14px;
    }
}
/* version laptop */
@media (min-width: 1024px) {
    .containerloginUser {
        width: 70%;
        margin: 25px;
        padding: 20px;
        padding-top: 15px;
    }
    .loginUser__containerTitle {
        margin-top: 20px;
    }
    .loginUser__title {
        font-size: 40px;
    }
    .loginUser__underline {
        width: 80px;
        height: 10px;
    }
    .loginUser__containerInputs {
        margin-top: 60px;
    }
    .loginUser__containerInput {
        width: 70%;
        height: 45px;
        margin-top: 15px;
    }
    .loginUser__input {
        font-size: 16px;
    }
    .loginUser__forgotPass {
        margin-top: 6px;
        font-size: 16px;
    }
    .loginUser__text {
        margin: 15px;
        padding: 8px;
        font-size: 20px;
    }
    .loginUser__containerBtns {
        margin: 45px auto;
    }
    .loginUser__button {
        margin: 10px;
        width: 110px;
        height: 50px;
        font-size: 16px;
    }
}

