@media (min-width: 0) {
    .socialNetworks {
        width: 100%;
    }
    .socialNetworks__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: white;
        border: 1px solid rgb(227, 11, 235);
        filter: drop-shadow(5px 5px 10px rgb(227, 11, 235));
        margin: 10px;
        padding: 8px;
    }
    .socialNetworks__redes {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .socialNetworks__containerLogo {
        width: 300px;
        height: 100px;
        filter: drop-shadow(5px 5px 10px rgb(227, 11, 235));
    }
    .socialNetworks__logo {
        object-fit: cover;
    }
    
    .socialNetworks__redes__redSocial {
        border: 1px solid white;
        padding: 15px;
        margin: 5px;
        border-radius: 50px;
        background-color: rgb(227, 11, 235);
        filter: drop-shadow(5px 5px 10px rgb(227, 11, 235));
    }
    
}
/* version tablet */
@media (min-width: 768px) {
    .socialNetworks {
        /* width: 80%; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .socialNetworks__container {
        width: 70%;
        margin: 15px;
        padding: 10px;
    }
    .socialNetworks__redes__redSocial {
        padding: 16px;
        margin: 6px;
    }
    
}
/* version laptop */ 
@media (min-width: 1024px) {
    .socialNetworks__container {
        width: 80%;
        margin: 12px;
        padding: 10px;
    }
    .socialNetworks__redes__redSocial {
        padding: 18px;
        margin: 10px;
    }
    
}